body{
    background-color:lightsalmon
}


th{
    border: 1px solid yellow;
}

.verde{
    border: 1px solid green;
}

.negro{
    border: 1px solid black;
}
.rojo{
    border: 1px solid red;
}
.amar{
    border: 2px solid yellow;
}

.azul{
    border: 2px solid blue;
}
.mora{
    border: violet 2px solid;
}
h1{
    background-color: black;
    color: red;
    text-align: center;
}